/* Global Styles */
body {
    /* background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; */
    background: linear-gradient(to bottom, #003366, #00253d); 
    background-attachment: fixed;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

/* Container Styles */
.container, .container2{
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: #000;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    width: 95%;
}
.container1{
    width: 50%;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: #000;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}
.cost{
    background-color: #8fa3c55f;
    text-align: center;
}

.ul ul {
    list-style: none;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    width: 300px;
}

.ul li {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}

.ul li:last-child {
    border-bottom: none;
}

/* Label styling */
.ul li::before {
    content: attr(data-label);
    font-weight: bold;
    min-width: 140px;
    color: black;
    flex-shrink: 0;
    margin-right: 20px;
}

/* Value styling */
.ul li span {
    text-align: right;
    flex-grow: 1;
}

.ul {
    display: flex;
    justify-content: center;
}
.C-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1, .container2 h1{
    text-align: center;
    color: white;
    font-size: 35px;
}
.C-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* Table Styles */
.table-container, .table-container1, .table-container-acc {
    max-height: 500px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #e0e0e0; /* Optional border styling */
    border-radius: 5px; /* Optional rounded corners */
}
.table-container h4{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #8FA3C5; /* Header background color */
    color: white; /* Header text color */
    position: sticky;
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure it is above other content */
}

th, td {
    padding: 10px;
    text-align: left;
   
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping effect */
}

/* Button Styles */
.action-btn, .add-btn{
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    font-family: 'Cairo', sans-serif;
}
.custom-btn {
    padding: 8px 8px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    font-family: 'Cairo', sans-serif;
}
.but{
    display: flex;
    justify-content: end;
}
.underline{
    font-weight: 25px;
    text-decoration: underline;
    color: rgb(146, 1, 1);
    padding-right: 25px;
}
.add-btn1{
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    font-family: 'Cairo', sans-serif;
}
.input-group {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
}

.input-group select,
.input-group input {
    flex: 1; /* Allow both elements to grow equally */
    padding: 10px; /* Padding for better appearance */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
}

.input-group input {
    margin-left: 10px; /* Space between select and input */
    width: auto; /* Allow the input to size based on content */
}
.t-boton{
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
.toggle-button {
    padding: 10px 15px; /* Padding for the button */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    background-color: #007561; /* Button color */
    color: white; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
    margin-top: 10px; /* Space above the button */
    display: inline-block; /* Inline block for proper spacing */
}

.toggle-button:hover {
    background-color: #006f5a; /* Darker color on hover */
}

.toggle-button:focus {
    outline: none; /* Remove outline on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
}

.action-td{
    display: flex;
    gap: 10px;  /* Space between buttons */
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

a.action-btn, .add-btn {
    background-color: #007561; /* Your theme green */
    color: white;
    text-decoration: none;
}

a.cta{
    text-decoration: none;
}
a.action-btn:hover, .add-btn:hover {
    background-color: #006f5a;
}

button.action-btn {
    background-color: #dc3545; /* Red for delete */
    color: white;
}

button.action-btn:hover {
    background-color: #c82333;
}

/* CTA Styles */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
    text-decoration: none;
}

/* Flexbox Styles */
.all {
    display: flex; /* Use flexbox to center the container */
    flex-direction: column;
    align-items: center; /* Center vertically */
    height: fit-content;
   
}


.boton {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

/* Navigation Styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.nav-items > li {
    padding: 10px;
}

li a {
    display: block;
    color: #000;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #007561c5;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    background-color: #f1f1f1;
}

/* Miscellaneous Styles */
.page-title {
    display: flex;
    width: 100%;
    height: 90px;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.page-title1 h1 {
    color: white;
    text-align: center;
 
    font-family: 'Cairo', sans-serif;
}
.select-box {
    position: relative;
    padding-bottom: 15px;
}
.br{
    height: 10px;
    width: 100%;
}
.select-box input[type="number"]{
    width: 250px;
}

.select-box select {
    background-color: #0562af9f; /* Original background color */
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Change background color on focus */
.select-box select:focus {
    background-color: #0673c2; /* Slightly brighter color on focus */
}
.select-box-1 {
    position: relative;
    padding-bottom: 15px;
}

.select-box-1 select {
    background-color: #006f5a; /* Original background color */
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}
.line{
    width: 50%;
    height: 0.5px;
    background-color: #013f34;
    
}
/* Change background color on focus */
.select-box-1 select:focus {
    background-color: #02947b; /* Slightly brighter color on focus */
}
  .form-control{
    width: 100%;
    height: 25px;
  }
  .form-control :focus{
    border:2px #006f5a;
  }
  
  
  .select-box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .select-box select option {
    padding: 30px;
  }

.separator {
    border: none; /* Remove default border */
    height: 1px; /* Set height of the line */
    background-color: #ccc; /* Set line color */
    width: 95%; /* Set line width */
    margin: 0 auto; /* Center the line */
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.circle {
    display: inline-block;
    width: 10px; /* Circle width */
    height: 10px; /* Circle height */
    border-radius: 50%; /* Make it a circle */
    background-color: transparent; /* Default color */
    margin-left: 5px;
    transition: background-color 0.3s; /* Smooth transition for color change */
}

.inactive {
    background-color: transparent; /* No color when inactive */
}

.active.asc {
    background-color: green; /* Color for ascending order */
}

.active.desc {
    background-color: red; /* Color for descending order */
}
label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
}

input[type="text"], input[type="number"], input[type="datetime-local"],[type="email"],[type="password"],[type="date"],[type="step"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="datetime-local"]:focus,input[type="step"]:focus {
    outline: none;
    border-color: #007561;
    box-shadow: 0 0 5px rgba(0, 117, 97, 0.2);
}

/* Custom Button Styles */
.custom-btn {
    
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    
    outline: none;
    font-size: 15px;
}

.btn-2 {
    display: flex;
    background-color: #007561c5;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 5px; 
  
}

.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* Pagination Styles */
.pagination {
    margin-top: 20px; /* Add some space above the pagination */
    text-align: center; /* Center the pagination links */
}

.pagination .page-link, .page-btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    color: #007bff;
    text-decoration: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.pagination .page-link:hover, .page-btn:hover {
    background-color: #f1f1f1;
}

.pagination .active .page-link, .page-btn.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.page-btn[disabled] {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}

/* Additional Styles */
.icon {
    height: auto;
    background-color: transparent; /* Light gray background */
    display: flex; /* Uses flexbox to center the icon */
    align-items: center; /* Centers icon vertically */
    justify-content: center; /* Centers icon horizontally */
    margin: auto; /* Aligns the icon background to center of card */
    margin-bottom: 20px; /* Distance between icon and text */
}
.card {
    justify-items: center;
    display: inline-block;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds shadow to the card */
    width: 80%; 
    height: auto;/* Width of the card */
    padding: 20px; /* Padding inside the card */
    text-align: center; /* Aligns text to the center */
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.3s; /* Animation for hover effect */
  }
.card-container {
    display: inline-block;
    justify-content: center;
    margin-right: 10px;
    background-color: #00ffd565; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow to the card */
    width: 25vw; /* Width of the card */
    padding: 20px; /* Padding inside the card */
    text-align: center; /* Aligns text to the center */
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px); /* Moves card up slightly on hover */
}

.cards {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    flex-wrap: wrap;
}

.icon img {
    width: 100%;
}

.heading {
    height: 100px;
    text-align: center;
}
.heading h1{
    color: white;
    font-size: xx-large;
    font-family: 'Cairo', sans-serif;
    padding-top:15px;
   }
.card-holder {
    display: flex;
    justify-content: center;
}

/* Responsive Styles */
@media (max-width: 800px) { /* Change the max-width to your desired breakpoint */
    .card-holder {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center cards horizontally */
    }
    .card-container {
        width: 80%; /* Adjust the width of cards on small screens */
        margin: 10px 0; /* Add vertical margin */
    }
} 
.roles h2{
    width: 100%;
    text-align: center;
}
.perm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}
/* From Uiverse.io by WhiteNervosa */ 
.slider {
    background-color: #ffffff2b;
    border-radius: 100px;
    padding: 1px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: block;
    width: 51px;
    height: 29px;
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset,
          #22cc3f 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
  .slider::after {
    content: "";
    display: flex;
    top: 2.3px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #e3e3e3;
    border-radius: 200px;
    position: absolute;
    box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
  }
  
  .switch input[type="checkbox"]:checked + .slider {
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #22cc3f 0px 0px 0px 2px inset, #22cc3f 0px 0px 0px 24px inset,
          rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
  .switch input[type="checkbox"]:checked + .slider::after {
    left: 24px;
  }
  
  .switch input[type="checkbox"] {
    display: none;
  }
  .con-container{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 500px;
    box-shadow: #000;
    background-color: #e3e3e3;
    padding-top: 25px;
    padding: 15px;
  }
  .con{
    justify-items: center;
    display: inline-block;
    justify-content: center;
    width: 20vw; 
    background-color: #f1f1f1;
    align-content: center;
    text-align: center; /* Aligns text to the center */
    border-radius: 8px; 
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
 .report{
    grid-column: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    display: flex;
    width: 50vw;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
 }
 .r-all{
    display: grid;
    grid-template-columns: 35% 65%;
    width: auto;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff96;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    
    
}
.report-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 35vw;
   
}
  .count{
    display: flex;
    width: 50px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: transparent 2px 2px 2px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
    padding: 25px;
  }
  .bot{
    display: flex;
    width: inherit;
    justify-content: space-between;
    gap: 60%;
    height: 45px;
  }
  .add-btn2{
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    font-family: 'Cairo', sans-serif;
  }
  .add-btn-2{
    background-color: #013f34;
    color:white;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;

  }
  a.add-btn2{
    background-color: #750000; 
    color: white;
    text-decoration: none;
  }
  a.add-btn2 :hover{
    background-color: #7a0000;
  }
.highlighted-operation {
    animation: glow 2s ease-in-out infinite;
    background-color: rgba(255, 255, 0, 0.2);
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
    }
}
.added-stuf{
    background-color: #3193cb3e;
    box-shadow: #0000006e;
    padding: 2px 4px;
    gap: 5px 5px;
}
.botons{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}
.storage-container{
    padding: 2px 10px;
    text-align: center;
}
.storage-container td{
    top: center;
}
.noti {
    display: flex;
    width: 55px;
    height: auto;
    justify-content: center;
}

.notification-button {
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Make this relative for absolute positioning of the count */
}

.btn-notification {
    font-size: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Change color as needed */
    transition: transform 0.3s ease; /* Add transition for smooth rotation */
}

.btn-notification:hover {
    transform: rotate(20deg); /* Rotate the icon on hover */
}

.notification-count {
    background-color: red; /* Change color as needed */
    color: white;
    border-radius: 50%;
    padding: 0 6px;
    
    position: absolute; /* Change to absolute positioning */
    top: 0; /* Align to the top */
    right: -10px; /* Adjust position to be half inside and half outside */
    font-size: 15px; /* Adjust size */
    transform: translateY(-50%); /* Center vertically */
    display: inline-block; /* Ensure it behaves like a block */
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,75px);
    row-gap: 30px;
}
.grid .cta{
   grid-row: 2;
   grid-column: span 2;
}
.file-input {
    display: none; /* Hide the original file input */
}

/* Custom file upload button */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #007561; /* Your theme color */
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: 'Cairo', sans-serif;
}

.custom-file-upload:hover {
    background-color: #006f5a; /* Darker shade on hover */
}

.file-name {
    margin-left: 10px; /* Space between the button and the file name */
    font-size: 14px; /* Font size for the file name */
    color: #555; /* Color for the file name */
}
.kok{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.kok span{
    position: relative;
    top: 50%;
}
.patient-image{
    display: flex;
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
.floating-message {
    position: fixed;
    top: 20px; /* Adjust position */
    right: 20px; /* Adjust position */
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    padding: 15px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it appears above other content */
    transition: opacity 0.5s ease; /* Fade out effect */
}
.dynamic{
    width: 98%;
    background-color: #f1f1f1;
       
    
}
.dyn{
    display: flex;
    height: auto;
    flex-direction: column;
    
}
.nr{
    display: grid;
    grid-template-rows: repeat(5,50px);
    row-gap: 10px;
    
    

}
.sel select{
    background-color: #0562af9f; /* Original background color */
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    transition: background-color 0.3s ease;
}
.inp5:focus{
    border-color: #0673c2;
    transition: ease-in;
}
.inp5 {
    background-color: #0562af9f; /* Original background color */
    color: white;
    
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    transition: background-color 0.3s ease;
    grid-row: 1;
    margin-left:10px ;
    
}
.inp6{
    background-color: #0562af9f; /* Original background color */
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    transition: background-color 0.3s ease;
    transform: translateY(-4px);
}
.inp6:focus{
    background-color: #0673c2;
}
.inp:focus{
    background-color: #0673c2;
}
.boto{
    position: relative;
    bottom:0;
    left: 0;
}
.mini-select {
    width:70px; /* Full width */
    padding: 10px; /* Padding for better touch targets */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background color */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
    appearance: none; /* Remove default styling */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Optional: Add hover effect */
.mini-select:hover {
    border-color: #888; /* Darker border on hover */
}

/* Optional: Add focus effect */
.mini-select:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
}
.row{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.save-btn{
    font-size: 22px;
    color: white;
    background-color: #007bff;
    width: 100px;
    height: 45px;
    cursor: pointer;
    border-radius: 8px;
    display: grid;
    place-content: center;
    
}
.save-btn:focus{
    background-color: #003366;
}
.loader{
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation:an1 1s ease infinite ;

}
@keyframes an1{ 
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}